<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <h5 class="align-center">Nombre de la red wifi</h5>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Informacion</td>
                    <td>Valor</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Velocidad de descarga</td>
                    <td id="tdDownloadSpeed">0 mbps</td>
                </tr>
                <tr>
                    <td>Atributo2</td>
                    <td>Valor2</td>
                </tr>
                <tr>
                    <td>Atributo3</td>
                    <td>Valor3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="router_info.js"></script>
</body>
</html>